DATABASE_URL="postgresql://postgres:postgres@localhost:5432/impulso_vivienda"
OPENAI_API_KEY=""
JWT_SECRET="replace-with-a-secure-secret"
NEXT_PUBLIC_WHATSAPP_NUMBER="573229624123"
NEXT_PUBLIC_BASE_URL="https://impulso-web-one.vercel.app"
NEXT_PUBLIC_WHATSAPP_ASESORA="573229624123"
NEXT_PUBLIC_WHATSAPP_WILLIAM="573203914473"
